.button {
    -fx-background-color: linear-gradient(#FFC6E2, #C6E2FF);
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 5, 0, 0, 0);
    -fx-stroke: black;
    -fx-stroke-width: 1px;
}

.button:hover,
.button:focused:hover {
    -fx-background-color: linear-gradient(#FFA5D6, #A5D6FF);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 8, 0, 0, 0);
}

.button:default {
    -fx-background-color: linear-gradient(#FFA5D6, #A5D6FF);
}

.button:disabled {
    -fx-opacity: 0.6;
}

.button:disabled:hover {
    -fx-background-color: linear-gradient(#FFC6E2, #C6E2FF);
}

.car-list {
    -fx-background-color: #f8f8f8;
    -fx-border-color: #d3d3d3;
    -fx-border-radius: 5px;
    -fx-cell-hover-color: #e8e8e8;
}

.house-list .list-cell {
    -fx-text-fill: #000;
    -fx-padding: 5px;
    -fx-font-size: 14pt;
}

.house-list .list-cell:empty {
    -fx-background-color: transparent;
}

.house-list .list-cell:selected {
    -fx-background-color: #add8e6;
}