/* intro.css */
.root {
    -fx-background-color: linear-gradient(to bottom, #C6E2FF, #FFC6E2);
}

.title-text {
    -fx-fill: #333333;
}

.logo-text {
    -fx-font-size: 48px;
    -fx-fill: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
}

.start-button {
    -fx-background-color: linear-gradient(#FFC6E2, #C6E2FF);
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 5, 0, 0, 0);
    -fx-stroke: black;
    -fx-stroke-width: 1px;
}

.start-button:hover,
.start-button:focused:hover {
    -fx-background-color: linear-gradient(#FFA5D6, #A5D6FF);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 8, 0, 0, 0);
}

.start-button:focused {
    -fx-background-color: linear-gradient(#FFC6E2, #C6E2FF);
    -fx-text-fill: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 5, 0, 0, 0);
}

.start-button:default {
    -fx-background-color: linear-gradient(#FFA5D6, #A5D6FF);
}

.start-button:disabled {
    -fx-opacity: 0.6;
}

.start-button:disabled:hover {
    -fx-background-color: linear-gradient(#FFC6E2, #C6E2FF);
}